#
#  Copyright (C) 2015-2017 akha, a.k.a. Alexander Kharitonov
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Config line format - 3 tokens delimited by whitespaces:
#
#   <fully qualified class name>.method[(signature)]    <action>    'code'
#
# The signature '()' means all methods with the name specified.
#
# The possible actions are:
#   before                           - insert 'code' at the beginning of the method body
#   after                            - insert 'code' at the end of the method body
#   finally                          - insert 'code' in the 'finally' clause
#   <fully qualified exception name> - insert 'code' in the 'catch' clause
#     (Note that the inserted code fragment must end with a 'throw' or 'return' statement.)
#
# 'code' may contain '$0' (means 'this') and '$$' (means the list of the method arguments)
#
# In case of several callbacks for the same method they are executed in the order of declarations here.
#
# For more info please visit the Javassist site: http://jboss-javassist.github.io/javassist/tutorial/tutorial2.html#before

# For implementation examples please refer to the javadoc for:
#   akha.yakhont.callback.BaseCallbacks
#   akha.yakhont.callback.BaseCallbacks.BaseActivityCallbacks
#   akha.yakhont.callback.BaseCallbacks.BaseFragmentCallbacks

# base Fragment callbacks
android.app.Fragment.onCreate                       after   'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onCreated          ($0, $$);'
android.app.Fragment.onStart                        after   'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onStarted          ($0    );'
android.app.Fragment.onResume                       after   'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onResumed          ($0    );'
android.app.Fragment.onPause                        before  'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onPaused           ($0    );'
android.app.Fragment.onStop                         before  'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onStopped          ($0    );'
android.app.Fragment.onDestroy                      before  'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onDestroyed        ($0    );'
android.app.Fragment.onSaveInstanceState            before  'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onSaveInstanceState($0, $$);'

android.app.Fragment.onActivityCreated              after   'akha.yakhont.callback.lifecycle.BaseFragmentLifecycleProceed.onActivityCreated  ($0, $$);'

android.support.v4.app.Fragment.onCreate            after   'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onCreated          ($0, $$);'
android.support.v4.app.Fragment.onStart             after   'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onStarted          ($0    );'
android.support.v4.app.Fragment.onResume            after   'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onResumed          ($0    );'
android.support.v4.app.Fragment.onPause             before  'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onPaused           ($0    );'
android.support.v4.app.Fragment.onStop              before  'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onStopped          ($0    );'
android.support.v4.app.Fragment.onDestroy           before  'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onDestroyed        ($0    );'
android.support.v4.app.Fragment.onSaveInstanceState before  'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onSaveInstanceState($0, $$);'

android.support.v4.app.Fragment.onActivityCreated   after   'akha.yakhont.support.callback.lifecycle.BaseFragmentLifecycleProceed.onActivityCreated  ($0, $$);'
# end of base Fragment callbacks

# pull-to-refresh support
android.app.Fragment.onResume                       after   'akha.yakhont.loader.wrapper.BaseLoaderWrapper.SwipeRefreshWrapper.onResume($0);'
android.app.Fragment.onPause                        before  'akha.yakhont.loader.wrapper.BaseLoaderWrapper.SwipeRefreshWrapper.onPause ($0);'

android.support.v4.app.Fragment.onResume            after   'akha.yakhont.support.loader.wrapper.BaseLoaderWrapper.SwipeRefreshWrapper.onResume($0);'
android.support.v4.app.Fragment.onPause             before  'akha.yakhont.support.loader.wrapper.BaseLoaderWrapper.SwipeRefreshWrapper.onPause ($0);'
# end of pull-to-refresh support

# ATTENTION: the order of the same callbacks is important

# permissions requesting support
android.app.Activity.onActivityResult               before  'akha.yakhont.CorePermissions.onActivityResult($0, $$);'
# location dialog support
android.app.Activity.onActivityResult               before  'akha.yakhont.location.LocationCallbacks.onActivityResult($0, $$);'

# permissions requesting support
android.app.Activity.onRequestPermissionsResult     before  'akha.yakhont.CorePermissions.onRequestPermissionsResult($0, $$);'

# prevents crashing on emulators without Google APIs (NullPointerException etc.)
android.app.Activity.startActivityForResult()  java.lang.RuntimeException  '{ akha.yakhont.location.LocationCallbacks.startActivityForResultExceptionHandler($0, $e); return; }'

# base Activity callbacks support for API < 14 (ICE_CREAM_SANDWICH)
android.app.Activity.onCreate(Landroid/os/Bundle;)              after   'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onCreated          ($0, $$);'
android.app.Activity.onStart                                    after   'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onStarted          ($0    );'
android.app.Activity.onResume                                   after   'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onResumed          ($0    );'
android.app.Activity.onPause                                    before  'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onPaused           ($0    );'
android.app.Activity.onStop                                     before  'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onStopped          ($0    );'
android.app.Activity.onDestroy                                  before  'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onDestroyed        ($0    );'
android.app.Activity.onSaveInstanceState(Landroid/os/Bundle;)   before  'akha.yakhont.callback.lifecycle.BaseActivityLifecycleProceed.onSaveInstanceState($0, $$);'

android.app.Application.onConfigurationChanged                  after   'akha.yakhont.Core.onApplicationConfigurationChanged($$);'
# end of base Activity callbacks support for API < 14